# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
src/.vs
src/Debug
src/x64
src/ray_tracing_in_a_weekend/Debug
src/ray_tracing_in_a_weekend/x64
src/ray_tracing_in_a_weekend/*.user